<h2>Create a Ski Area</h2>

<% if !@ski_area.errors.empty? %>
  <div id="message_wrapper">
    <div class="message_error">|
    <% @ski_area.errors.full_messages.each do |error| %>
      <%= error %>&nbsp;|
    <% end %>
    </div>
  </div>
<% end %>

<div class="two_third">
  <fieldset>
  <%= form_for @ski_area do |f| %>

    <p><%= f.label :ski_area_name, "Ski Area Name", class: "field" %>
    <%= f.text_field :ski_area_name, class: "text_box_style", size: "50" %></p>

    <p><%= f.label :country, "Country", class: "field" %>
    <%= f.text_field :country, class: "text_box_style", size: "30" %></p>

    <p><%= f.label :state, "State/Province", class: "field" %>
    <%= f.text_field :state, class: "text_box_style", size: "20" %></p>

      <p><%= f.label :skiable_acres, "Skiable Acres", class: "field" %>
    <%= f.text_field :skiable_acres, class: "text_box_style", size: "13" %></p>

    <%= f.label :visited, "Visited Resort?", class: "field" %>
    <div class="text_box_style">
      <%= f.select(:visited, options_for_select([['No', 'false'], ['Yes', 'true']], 'false')) %>
    </div>

    <p><%= f.label :logo_url, "Logo URL", class: "field" %>
    <%= f.text_field :logo_url, class: "text_box_style", size: "65" %></p>

    <%= f.submit "Create Ski Area", class: "submit_button" %>
  <% end %>
  </fieldset>
</div>