<h2><%= @ski_area.ski_area_name %></h2>

<p><%= @ski_area.country %></p>
<p><%= @ski_area.state %></p>
<p><%= @ski_area.pct_black %></p>
<p><%= @ski_area.pct_blue %></p>
<p><%= @ski_area.pct_green %></p>
<p><%= @ski_area.visited %></p>
<img src="<%= @ski_area.logo_url %>">
<p><%= @ski_area.skiable_acres %></p>

<%= button_to "Update Ski Area", edit_ski_area_path(@ski_area), class: "submit_button", method: "get" %>
