<h2>Create a Ski Bucket Account</h2>

<% if !@user.errors.empty? %>
  <div id="message_wrapper">
    <div class="message_error">|
      <% @user.errors.full_messages.each do |error| %>
        <%= error %>&nbsp;|
      <% end %>
    </div>
  </div>
<% end %>

<div class="two_third">
  <fieldset>
    <%= form_for @user do |f| %>

      <p><%= f.label :first_name, "First Name", class: "field" %>
        <%= f.text_field :first_name, class: "text_box_style" %></p>

      <p><%= f.label :last_name, "Last Name", class: "field" %>
        <%= f.text_field :last_name, class: "text_box_style" %></p>

      <p><%= f.label :email, "Email", class: "field" %>
        <%= f.email_field :email, class: "text_box_style" %></p>

      <p><%= f.label :password, "Password", class: "field" %>
        <%= f.password_field :password, class: "text_box_style" %></p>

      <p><%= f.label :password_confirmation, "Confirm Password", class: "field" %>
        <%= f.password_field :password_confirmation, class: "text_box_style" %></p>
      <div style="width: 64%; float: right">
        <p><%= f.submit "Create Account", class: "submit_button" %></p>
      </div>

    <% end %>
  </fieldset>
</div>
