<div class="form_container">
  <%= form_tag login_path do %>

    <div class="field_container">
      <%= label_tag :email, 'Email', class: 'label_style' %>
      <%= email_field_tag :email, params[:email], class: 'field_style', autofocus: 'autofocus' %>
    </div>

    <div class="field_container">
      <%= label_tag :password, 'Password', class: 'label_style' %>
      <%= password_field_tag 'password', nil, class: 'field_style' %>
    </div>

    <div class="field_container">
      <%= submit_tag "Sign In", class: 'button blue' %>
    </div>
  <% end %>

  <div class="field_container" style="margin-top: 1em;">
    <%= link_to "Forgot Password?", password_reset_path %>
  </div>

  <div class="field_container">
    <p style="text-align: right; font-size: .75em; margin-top: 2em;">Want a Ski Bucket? Then <%= link_to "Sign Up", new_user_path %>
  </div>
</div>