<div class='page_section'>
  <h2>Ski Areas in the Database</h2>
  <p><i>Click on area's name to view and edit information or create a new one below</i></p>

  <ul>
    <%= render partial: "ski_areas", collection: @ski_areas %>
  </ul>

  <%= button_to "Create a Ski Area", admin_new_ski_area_path, class: "button blue small", method: "get" %>
</div>

<hr>

<div class='page_section'>
  <h4>Upload Multiple Ski Areas</h4>
  <p></p>
  <%= form_tag({:controller => 'ski_areas', :action => 'upload'}, :multipart => true) do %>
    <%= file_field_tag 'csv_file', id: "file_upload_field" %>
    <%= submit_tag('Upload File', { class: "button blue small" }) %>
  <% end %>
</div>
