<h2>Create a Ski Area</h2>

<div class="form_container">
  <%= form_for @ski_area, as: :ski_area, url: admin_ski_areas_path(@ski_area), method: :post do |f| %>

    <div class="field_style">
      <%= f.label :ski_area_name, "Ski Area Name", class: "label_style", autofocus: 'autofocus' %>
      <%= f.text_field :ski_area_name, class: "text_box_style", size: "50" %>
    </div>

    <div class="field_style">
      <%= f.label :country, "Country", class: "label_style" %>
      <%= f.text_field :country, class: "field_style", size: "30" %>
    </div>

    <div class="field_style">
      <%= f.label :state, "State/Province", class: "label_style" %>
      <%= f.text_field :state, class: "field_style", size: "20" %>
    </div>

    <div class="field_style">
      <%= f.label :skiable_acres, "Skiable Acres", class: "label_style" %>
      <%= f.text_field :skiable_acres, class: "field_style", size: "13" %>
    </div>

    <div class="field_style">
      <%= f.label :logo_url, "Logo URL", class: "label_style" %>
      <%= f.text_field :logo_url, class: "field_style", size: "65" %>
    </div>

    <%= f.submit "Create Ski Area", class: "button blue" %>
  <% end %>
</div>