<div class='page_section'>

  <h1><%= @ski_area.ski_area_name %></h1>

  <div class='data_label'>Country:</div>
  <div class='data_field'><%= @ski_area.country %></div>

  <div class='data_label'>State/Province:</div>
  <div class='data_field'><%= @ski_area.state %></div>

  <div class='data_label'>Logo URL:</div>
  <div class='data_field'><%= @ski_area.logo_url %></div>

  <div class='data_label'>Skiable Acres:</div>
  <div class='data_field'><%= @ski_area.skiable_acres %></div>

  <%= button_to "Update Ski Area", admin_edit_ski_area_path(@ski_area), class: "button small blue", method: "get" %>
  <%= button_to "Delete Ski Area", admin_ski_area_path(@ski_area), class: "button small blue", method: "delete" %>

</div>
