<h2>Create a User Account</h2>

<div class="form_container">

  <%= form_for @user, as: :user, url: admin_users_path(@user), method: :post do |f| %>

    <div class="field_container">
      <%= f.label :first_name, 'First Name', class: 'label_style', autofocus: 'autofocus' %>
      <%= f.text_field :first_name, class: 'field_style' %>
    </div>

    <div class="field_container">
      <%= f.label :last_name, 'Last Name', class: 'label_style' %>
      <%= f.text_field :last_name, class: 'field_style' %>
    </div>

    <div class="field_container">
      <%= f.label :email, 'Email', class: 'label_style' %>
      <%= f.email_field :email, class: 'field_style' %>
    </div>

    <div class="field_container">
      <%= f.label :password, 'Password', class: 'label_style' %>
      <%= f.password_field :password, class: 'field_style' %>
    </div>

    <div class="field_container">
      <%= f.label :password_confirmation, 'Confirm Password', class: 'label_style' %>
      <%= f.password_field :password_confirmation, class: 'field_style' %>
    </div>

    <div class="field_container">
      <%= f.submit 'Create Account', class: 'button small blue' %>
    </div>

  <% end %>
</div>
